[D-BUS Service]
Name=io.github.chispes.CosmicTailscale.Helper
Exec=/usr/libexec/cosmic-tailscale-helper
User=root
SystemdService=cosmic-tailscale-helper.service
